In [3]:

import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="strong_password"
)

In [4]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x709b225f75f0>

In [5]:
cursor = mydb.cursor(buffered=True)

In [6]:
x = cursor.execute("SHOW DATABASES")

In [7]:
x

In [8]:
cursor.execute("CREATE DATABASE travel")

In [10]:
cursor.execute("CREATE DATABASE users")
cursor.execute("CREATE DATABASE flight")
cursor.execute("CREATE DATABASE hotel")
cursor.execute("CREATE DATABASE car")
cursor.execute("CREATE DATABASE booking")

In [11]:
cursor.execute("SHOW DATABASES")

for x in cursor:
    print(x)

('booking',)
('car',)
('flight',)
('hotel',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('travel',)
('users',)

In [ ]:
cursor.execute("CREATE TABLE travel (name VARCHAR(255), address VARCHAR(255))")